.Details-banner {
  padding: 24px;
  display: flex;
  gap: 30px;
  text-align: end;
}

.Details-banner-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.Details-banner-left {
  width: 100%;
  align-items: flex-start;
}